$sky-blue: #01bebe;
$orange: #d36900;
$white: #ffffff;
$dark: #141414;
$gray: #6e7089;
$font: "Roboto", sans-serif;
$blue-dark: #0d1023;
$blue-dark-secondary: #181a31;
$blue-primary: #0082ff;
$blue-secondary: #0082ff;
